{
  "extends": [
    "plugin:shopify/typescript-react",
    "plugin:shopify/typescript-prettier"
  ],
  "rules": {
    "shopify/strict-component-boundaries": "off",
    "jsx-a11y/label-has-for": "off",
    "react/prop-types": "off",
    "babel/func-params-comma-dangle": "off",
    "import/no-self-import": "off",
    "import/no-useless-path-segments": "off",
    "react/button-has-type": "off",
    "react/jsx-child-element-spacing": "off",
    "react/jsx-curly-brace-presence": "off",
    "react/no-access-state-in-setstate": "off",
    "react/no-this-in-sfc": "off",
    "react/no-unused-state": "off"
  }
}
